.card {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    height: 180px;
    padding: 10px 20px;
    border:1px solid black ;
    border-radius: 10px;
    margin: 10px 10px;
    justify-content: center;
}

.card > p {
    color: white;
    text-align: center;
    margin: auto 0;
}

.card > h4 {
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    width: 40px;
    height: 22px;
    align-self: center;
    color: white;
    text-align: center;
    font-size: 18px;
    justify-content: center;
}
